* {
    margin: 0px;
}

body {
    box-sizing: border-box;
    margin: 0px;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: white;
    overflow: hidden;
    height: 60px;
    margin: 0px;
    padding: 10px 10px 5px 10px;
    position: relative;
}

#logo {
    height: 40px;
    position: absolute;
    width: 40px;
    float: left;
}

#spiced-logo {
    height: 40px;
    position: absolute;
    left: 20px;
    margin-top: 10px;
}

#burgermenu {
    height: 40px;
    width: 40px;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.spices {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.main {
    background-color: white;
    margin: 0px;
    position: relative;
}

h1 {
    text-align: center;
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 3em;
    top: 200px;
    left: 300px;
}

#button {
    background-color: rgb(248, 191, 3);
    color: rgb(206, 119, 13);
    border-radius: 30px;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    z-index: 2;
    position: absolute;
    font-size: 25px;
    left: 500px;
    width: 250px;
    height: 50px;
    border: 2px solid rgb(211, 121, 10);
    margin-top: 280px;
}

.container {
    background-color: silver;
}

section {
    background-color: silver;
    display: inline-block;
    margin: 10px 5px;
}

section img {
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    float: left;
    position: relative;
    right: 10px;
}

h3 {
    margin: 10px 0px 0px 0px;
    padding: 10px 5px 5px 0px;
    position: relative;
    color: black;
    display: inline-block;
}

p {
    color: black;
}

footer {
    background-color: rgb(71, 68, 68);
    padding: 5px 5px 5px 15px;
    color: white;
}
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(230, 140, 155, 0.6);
    /* z-index: 3; */
    visibility: hidden;
}
#sidemenu {
    position: fixed;
    height: 100vh;
    width: 30%;
    background-color: white;
    color: black;
    top: 0px;
    right: 0px;
    padding: 10px;
    display: block;
    /* float: right; */
    z-index: 4;
}
#x {
    cursor: pointer;
}
.on {
    transition-property: transform;
    transition-duration: 3s;
    transform: translateX(0%);
}
.overlay_on {
    visibility: visible;
}

@media screen and (max-width: 800px) {
    h1 {
        color: black;
    }
    img {
        min-width: 300px;
    }
    .spices {
        height: 100vh;
        width: 100vw;
        object-fit: contain;
    }
    section {
        display: block;
        width: 100%;
        font-size: 25px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: dimgrey;
        color: antiquewhite;
    }
    h1 {
        color: antiquewhite;
    }
}
