<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>Express Handlebars Portfolio</title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Lyra's Website</h1>
            </header>
            {{{body}}}
            <footer>© Lyra Von Rose. 2021</footer>
        </div>
        <div class="snow">
            {{#snowflakes}}
                <div></div>
            {{/snowflakes}}
        </div>
    </body>
</html>