<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>Express Handlebars Portfolio</title>
    </head>
    <body>
        <header>
            <h1>Lyra's Website</h1>
        </header>
        {{{body}}}
        <footer>© Lyra Von Rose</footer>
    </body>
</html>