<h2>Hello, {{guest}}</h2>
<h2>These are my finished projects:</h2>
<h2> here is a number: {{getRandomNum}}</h2>
{{>projects}}

{{!-- <h1>Demo stress one more time: {{stressImportance "one more time"}}</h1> --}}
{{>button emoji="true"}} 

{{!-- text="home" --}}